
.directDownload {
    background: linear-gradient(135deg, #ed0b0b, #f2d152);
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px
}

#topRightPopup {
    position: fixed;
    top: 1%; 
    right: 1%; 
    background-color: #ffffff;
    font-weight: bolder;
    color: #111;
    border: 1px solid #cccccc;
    padding: 10px;
    z-index: 9999; 
  }
  